@import url(./fonts.css);

:root {
    --fm-1: "Montserrat";
    --fm-2: "Comfortaa";
    --fm-3: "Roboto";
    --orange: #F18128;
    --white: #fff;
    --darkblue: #040D1F;
}
::-webkit-scrollbar{
    width: 10px;
    height: 20px;
    background: var(--orange);
}
::-webkit-scrollbar-thumb{
    width: 4px;
    height: 7px;
    background: var(--darkblue);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fm-1);
    background: var(--darkblue);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}

.btn {
    width: 166px;
    padding: 17px 0;
    background: var(--orange);
    color: #000;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    display: inline-block;
    text-align: center;
    font-family: var(--fm-3);
    transition: .5s;
}

.btn:hover {
    background: var(--darkblue);
    color: var(--white);
}

.title {
    color: var(--orange);
    font-size: 36px;
    font-weight: 400;
    font-family: var(--fm-2);
    border-bottom: 2px solid var(--orange);
    width: max-content;
    text-transform: capitalize;

}


/* ads start */
.ads {
    width: 100%;
    height: 80px;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    color: var(--white);
    align-items: center;
    column-gap: 24px;
}

.ads__span {
    font-size: 16px;
    font-weight: 400;
}

/* ads end */

/* nav start */
.nav {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(7.5px);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
}

.nav__logo-image {
    object-fit: cover;
}

.nav__list {
    display: flex;
    column-gap: 24px;
}

.nav__link {
    color: var(--white);
    padding: 40px 6px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    transition: .5s;
}

.nav__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--orange);
    position: absolute;
    bottom: 0;
    transition: .5s;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    color: var(--orange);
}

/* nav end */

/* header start */
.header {
    width: 100%;
    min-height: 80vh;
    position: relative;
}

.header__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    object-position: top;
}

.header__content {
    background: rgba(7, 15, 25, 0.75);
    height: 100%;
    padding: 10% 0;
}

.header__title {
    color: var(--white);
    font-size: 64px;
    font-weight: 700;
}

.header__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 570px;
    width: 100%;
    text-align: justify;
    color: #C8C8C8;
    margin: 30px 0 50px;
}

/* header end */

/* films start */
.films {
    padding: 65px 0;
}
.films__title {
    margin-bottom: 54px;
}
.films__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.films__card {
    max-width: 255px;
    width: 100%;
    min-height: 367px;
    border-radius: 6px;
    position: relative;
}
.films__card-image {
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.films__card-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
}
.films__card-link {
    color: var(--white);
    transition: .5s;
}
.films__card-time {
    color: var(--white);
    max-width: 100px;
    width: 100%;
    padding: 7px 0;
    background: rgba(7, 15, 25, 0.2);
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    margin: 12px 0 30px;
    transition: .5s;
}

.films__card-content:hover .films__card-link{
    transform: scale(1.4);
}
.films__card-content:hover .films__card-time  {
    transform: scale(0);
}
.films__card-title {
    color: var(--white);
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 12px;
}
.films__card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;color: var(--white);
    font-family: var(--fm-3);

}
/* films end */

/* primier start */
.primier {
    position: relative;
}
.primier__video {
    width: 60%;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;

}
.primier__content {
    width: 100%;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding: 40px 0 80px;

}
.primier__content-image {
    max-width: 445px;
    width: 100%;
    object-fit: cover;
}
.primier__container {
    display: flex;
    flex-direction: column;
    row-gap: 53px;
}
.primer__content-text {
    max-width: 558px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: justify;
}
/* primier end */

/* collections start */
.collections {
    padding: 60px 0;
}
.collections__title {
    margin-bottom: 50px;
}
.collections__cards {
    display: flex;
    column-gap: 30px;
}
.collections__card {
    max-width: 350px;
    width: 100%;
    min-height: 193px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.collections__card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.collections__card-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    position: relative;
}
.collections__card-link {
    color: var(--white);
    transition: .5s;
}
.collections__card-content:hover .collections__card-link{
    transform: scale(1.4);
}
.collection__card-title {
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    font-family: var(--fm-2);
    transition: .5s;
}
.collections__card-content:hover .collection__card-title{
    transform: scale(0);
}
.collections__card-content::before{
    content: url(../img/Выбрать.png);
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 7px;
    transition: .5s;
}
.collections__card-content::after{
    content: url(../img/Выбрать.png);
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 7px;
    transition: .5s;
}
.collections__card-content:hover::before{
    transform: translateY(-110%);
}
.collections__card-content:hover::after{
    transform: translateY(110%);
}
/* collections end */

/* series start */
.series {
    padding-bottom: 65px;
}
.series__title {
    margin-bottom: 65px;
}
.series__card-lg {
    width: 100%;
    height: 436px;
    border-radius: 6px;
    position: relative;
}
.series__card__lg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.series__card__lg-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 0 22px;
}
.series__card__lg-title {
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
}
.series__card__lg-text {
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
/* series end */

/* grid */
.series__item {
    min-height: 183px;
}
.series__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    margin-top: 30px;
}
.series__card {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}
.series__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.series__card-md {
    grid-column: span 2;
    grid-row: span 2;
}
.series__card-sm {
    grid-column: span 1;
    grid-row: span 1;

}
.series__card-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    row-gap: 20px;
}
.series__card-link {
    color: var(--white);
    transition: .5s;
}
.series__card-title {
    font-weight: 700;
    font-size: 24px;
    transition: .5s;
}
.series__card-content:hover .series__card-link{
    transform: scale(1.4);
}
.series__card-content:hover .series__card-title{
    transform: scale(0);
}
.footer {
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 25px 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__apps {
    display: flex;
    align-items: center;
    column-gap: 50px;

}
.footer__text {
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
}
